@model IEnumerable<tblTask>
@{
    ViewData["Title"] = "Index";
}

<div class="container pt-1"> 
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th class="col-3">Title</th>
                <th class="col-5">Description</th>
                <th class="col-1">Due Date</th>
                <th class="col-1">Due Time</th>
                <th class="col-1">Status</th>
                <th class="col-1">Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.Title</td>
                    <td>@obj.Description</td>
                    <td>@obj.DueDate.ToShortDateString()</td>
                    <td>@obj.DueTime.ToString("hh\\:mm")</td>

                    <td>
                        <form method="post" asp-action="UpdateStatus" class="status-form">
                            <input type="hidden" name="id" value="@obj.Id" />
                            <input type="hidden" name="status" value="@obj.Status" />
                            <div class="form-check form-switch">
                                <input class="form-check-input status-checkbox" type="checkbox" id="flexSwitchCheckDefault-@obj.Id" checked="@obj.Status">
                                <label class="form-check-label" for="flexSwitchCheckDefault-@obj.Id"></label>
                            </div>
                        </form>
                    </td>

                    <td>
                        <div class="w-75 btn-group" role="group">
                         <!-- Edit button -->
                            <a asp-controller="Task" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i></a>

@*                             <button type="button" class="btn btn-primary edit-task-btn" data-task-id="@obj.Id"><i class="bi bi-pencil-square"></i></button>
 *@
                            <!-- Delete button -->
                          <a asp-controller="Task" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-primary mx-2"><i class="bi bi-trash"></i></a>
                        <div/>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="container pt-2">
        <div class="row pt-4">
            <div class="col-6">
                <a asp-controller="Task" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> &nbsp; Add new task

                    </a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.status-checkbox').change(function () {
                $(this).parents('form').submit();
            });
        });
    </script>
}

